<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livraria</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav id="navbar">
    <ul>
      <li> <a href="/" target="_self">Cadastrar</a></li>
      <li><a href="/books" target="_self">Livros</a></li>
    </ul>
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p>Site criado por <storng>&copy; Luiz Otaviano</storng></p>
  </footer>
</body>
</html>