<h1>Adicione um livro:</h1>
<form action="/books/insert" method="post">
  <div class="boxInput">
    <label for="ititle">Titulo:</label>
    <input type="text" name="title" id="ititle" placeholder="Digite o nome do livro" required>
  </div>
  <div class="boxInput">
    <label for="ipageqty">Númeo de páginas:</label>
    <input type="number" name="pageqty" id="ipageqty" placeholder="Número de páginas" required>
  </div>
  <input type="submit" value="Cadastrar">
</form>